<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohheader.wordsgame" >

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:configChanges="locale">
        <activity android:name=".ChooseGame">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".games.ChooseImageActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".games.ChooseWordActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".games.missingletters.BaseActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>
